<%= form_with(model: course, local: true) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_name %>
    <%= f.text_field :course_name, id: :course_course_name %>
  </div>
  <hr>
  <h4>Add Lectures</h4>
  <div id="lectures">
    <%= f.fields_for :lectures do |lecture| %> 
      <%= render 'lecture_fields', f: lecture %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "Add Lectures", f, :lectures, class: "btn btn-primary"%>
    </div>
    <hr>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
