<p id="notice"><%= notice %></p>
<div class="container">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Course name:</th>
      <th scope="col">Lecture Topic</th>
      <th scope="col">Attachments</th>
      <th scope="col">Videos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @course.course_name %></th>
      <td><%= @lecture.topic_name%></td>
      <td><%= @attachment.name%><br><%= link_to "Download Attachment", @attachment.name_url, class: "btn btn-primary", style: "color:#fff;"%></td>
      <td><%= @video.url %></td>
    </tr>
   
  </tbody>
</table>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
<?  
